.media-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 25px;
    color: #111;
}


.media-box {
    background: #fafafa;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 35px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.media-box h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #111;
}


.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    border-radius: 12px;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}


@media (max-width: 600px) {
    .media-box {
        padding: 18px;
    }
}
